<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
  <add name="conexion" connectionString="Server=DESKTOP-V43QQ30;&#xD;&#xA;                           Database=GasolineraDB;&#xD;&#xA;                           User Id=DESKTOP-ICARL7K\SQLEXPRESS;	&#xD;&#xA;                           Password=1234;"
   providerName="System.Data.SqlClient" />
  <add name="Sistema_Cuadre_TotalEnergies.Properties.Settings.GasolineraDBConnectionString"
   connectionString="Data Source=DESKTOP-V43QQ30;Initial Catalog=GasolineraDB;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>

</configuration>